<!DOCTYPE HTML>
<html>

<style>

.td1  {width:150px;}
.td2  {width:300px;}
.td3  {width:600px;}

</style>

<body>

<form>
  <fieldset>
    <legend>健康</legend>
    身高：<input type="text" />
    体重：<input type="text" />
  </fieldset>
</form>

<p>如果表单周围没有边框，说明您的浏览器太老了。</p>

<br/>
<br/>
<br/>
<br/>

<table border=4 width=250 align=center>
 <caption>【表格举例】</caption>
 <tr bgcolor="#cccccc">
  <th><br></th>
  <th>列-A</th>
  <th>列-B</th>
  <th>列-C</th>
 </tr>
 <tr align=center>
  <td>行-1</td>
  <td>A1</td>
  <td>B1</td>
  <td rowspan=2>C1-C2</td>
 </tr>
 <tr align=center>
  <td>行-2</td>
  <td>A2</td>
  <td>B2</td>
 </tr>
 <tr align=center>
  <td>行-3</td>
  <td>A3</td>
  <td colspan=2>A3-B3</td>
 </tr>
</table>

<table height="50px" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th width="150px"></th>
    <th width="300px"></th>
  </tr>
  <tr>
    <td width="150px"></td>
	<td width="300px"></td>
  </tr>
</table>


<div>
说明：ota - id 对应关系：<br/>
booking  -> 1, ean -> 2, "agoda(3)", "unknown(4)", "elong(5)","hana(6)", "gta(7)", "vetu(8)", "ctrip(9)", "dida(10)","hotelbeds(11)", "dotw(12)", "eanpackage(13)", "fgt(14)", "agodapackage(15)","roomorama(16)", "hotelspro(17)", "zyx(18)", "tourico(19)", "miki(20)","travellanda(21)", "relux(22)", "methabook(23)", "haoqiao(24)"
</div>

</body>
</html>
